body{
    background-color: white;
}
#img-me {
    width: 100%;
}

#aboutMe{
    background-color:#f2f1e8;
    padding: 20px;
}

#pad{
padding: 5px;
}

#YT{
    width: 30%;
}

#LI{
    width: 20%;
    padding-right: 30px;
}

#Git{
    width: 20%;
}